# Configurações do Inversor
INVERTER_IP=<SEU_IP_AQUI>
INVERTER_PORT=502
INVERTER_FAMILY=DT

# Configurações do InfluxDB
INFLUXDB_DB=inversodash
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=inversodash2024
INFLUXDB_HTTP_AUTH_ENABLED=true

# Configurações da API
API_HOST=0.0.0.0
API_PORT=8000
UPDATE_INTERVAL=30

# Ambiente
NODE_ENV=production
PYTHONUNBUFFERED=1
